/* .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 700;
}
.dropdown-mega{
    padding-top: 5px;
}

.dropdown-item {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 700;
} */

/* .brand_img img{
     width: 100% !important; 
    max-width: 129% !important;
    height: auto!important; 
} */
.nav-link{
    color: black !important;
}
.nav-link .dropdown-toggle{
    color: black !important;
}
img {
    width: -webkit-fill-available !important;
}